<div class="header">
  <div class="title">{{ title }}</div>
  <div class="add">
    <div class="btn btn-success" (click)="addingHandler()">{{ adding ? 'Cancel' : 'Create'}}</div>
  </div>
</div>
<app-task-form *ngIf="adding; else showList" (item)="newTask($event)" [task]="getDraft(0)"></app-task-form>
<ng-template #showList>
  <div class="list-wrapper">
    <div class="list" *ngFor="let task of tasks">
      <div class="header">
        <div class="title">{{ task.title }}</div>
        <div class="buttons">
          <div class="btn btn-info">Edit</div>
          <div class="btn btn-info">Remove</div>
          <div class="btn btn-info">Done</div>
        </div>
      </div>
      <div class="description"><p>{{ task.description }}</p></div>
    </div>
  </div>
</ng-template>
